// Custom variables for our own styles
$darkBgColor = #211b24
$darkBgColor-2 = #332938
$lightTextColor = #fff
$navbarBgColor = $darkBgColor
$navbarTextColor = $lightTextColor
$buttonColor = #58a567
$reducedTextColor = #888
$dividerColor = alpha($reducedTextColor, 40%)

// Color palette overrides, see this file for possible options:
// https://github.com/vuejs/vuepress/blob/master/packages/%40vuepress/core/lib/client/style/config.styl
$accentColor = #34BC37
$textColor = #211b24
$borderColor = #dee2e6
$codeBgColor = darken($darkBgColor, 20%)
$codeTextColor = lighten($textColor, 20%)

// responsive breakpoints
$MQNarrow = 999px
$MQMobile = 899px
$MQMobileNarrow = 419px
