@import "tailwindcss";
@config "../../tailwind.config.js";

html {
  scroll-behavior: smooth;
  font-family: var(--font-space-grotesk), var(--font-inter), ui-sans-serif, system-ui, sans-serif;
}

code, pre, kbd, samp {
  font-family: var(--font-space-mono), ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, monospace;
}

.pl_logo_warp {
  max-width: 500px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}
.pl_logo_warp a {
  text-align: left;
  width: 250px;
}
.pl_logo_warp a:nth-child(1) img {
  height: calc(50px + 32px);
}
.pl_logo_warp a:nth-child(3) img {
  height: calc(50px + 32px)
}
.pl_logo_warp a:nth-child(5) img {
  height: calc(40px + 32px);
}
.pl_logo_warp a:nth-child(7) img {
  height: calc(53px + 32px);
}

.nextra-content p a,
.nextra-content td a,
.nextra-content ul li a,
.nextra-content ol li a,
article p a,
article td a,
article ul li a,
article ol li a,
main p a,
main td a,
main ul li a,
main ol li a {
    text-decoration: none !important;
    background: linear-gradient(#008ae670, #008ae670) no-repeat 0 100% !important;
    background-size: 100% 35% !important;
    transition: background-size 200ms cubic-bezier(0, 0.8, 0.13, 1) !important;
    box-decoration-break: clone !important;
    -webkit-box-decoration-break: clone !important;
}

.nextra-content p a:hover,
.nextra-content td a:hover,
.nextra-content ul li a:hover,
.nextra-content ol li a:hover,
article p a:hover,
article td a:hover,
article ul li a:hover,
article ol li a:hover,
main p a:hover,
main td a:hover,
main ul li a:hover,
main ol li a:hover {
    background-size: 100% 90% !important;
}

.link-hover-red {
    background: linear-gradient(#e6373770, #e6373770) no-repeat 0 100% !important;
    background-size: 100% 35% !important;
}

.link-hover-red:hover {
    background-size: 100% 90% !important;
}

@media (max-width: 570px) {
  .pl_logo_warp {
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: flex-start;
  }
}

.gl_logo_warp a img {
  height: 90px;
}

/* Solid background for code block Copy button */
.nextra-code pre > div:first-child {
  background-color: rgb(0, 0, 0) !important;
  padding: 0.25rem !important;
  border-radius: 0.375rem !important;
}

html:not(.dark) .nextra-code pre > div:first-child {
  background-color: rgb(255, 255, 255) !important;
}


