name: Build Site

on:
  push:
    branches:
      - master
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Setup Bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest

      - name: Bun Cache
        uses: actions/cache@v5
        with:
          path: ~/.bun/install/cache
          key: ${{ runner.os }}-bun-${{ hashFiles('**/bun.lockb') }}

      - name: Next.js CI Cache
        uses: actions/cache@v5
        with:
          path: ${{ github.workspace }}/.next/cache
          key: ${{ runner.os }}-nextjs-${{ hashFiles('**/bun.lockb') }}-${{ hashFiles('src/**', 'content/**') }}
          restore-keys: |
            ${{ runner.os }}-nextjs-${{ hashFiles('**/bun.lockb') }}-

      - name: Install Dependencies
        run: bun install --frozen-lockfile

      - name: Build Site
        run: bun run build

      - name: Upload Build Output to Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: dist
          path: ${{ github.workspace }}/out/
          if-no-files-found: error

  deploy:
    runs-on: ubuntu-latest
    needs: [build]
    strategy:
      matrix:
        include:
          - host_id: REMOTE_HOST_SYD
          - host_id: REMOTE_HOST_DUS
          - host_id: REMOTE_HOST_FRA
          - host_id: REMOTE_HOST_AMS
          - host_id: REMOTE_HOST_LON
          - host_id: REMOTE_HOST_SJC
          - host_id: REMOTE_HOST_NRT
          - host_id: REMOTE_HOST_KIX
          - host_id: REMOTE_HOST_HKG
          - host_id: REMOTE_HOST_TLL
          - host_id: REMOTE_HOST_SIN
      fail-fast: false
    env:
      REMOTE_HOST: ${{ secrets[matrix.host_id] }}
    steps:
      - uses: actions/download-artifact@v7
        with:
          name: dist
          path: ${{ github.workspace }}/out/
      - run: ls -R ${{ github.workspace }}/out/
      - uses: easingthemes/ssh-deploy@main
        env:
          SSH_PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY }}
          ARGS: '-avz --delete'
          REMOTE_HOST: ${{ env.REMOTE_HOST }}
          REMOTE_USER: ${{ secrets.REMOTE_USER }}
          SOURCE: out/*
          TARGET: /home/github/dns.sb/
          EXCLUDE: .git,.github,.gitlab-ci.yml,.nojekyll
